<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_3_0.xsd">
    <display-name>RESTFul test</display-name>
	<session-config>
		<cookie-config>
			<http-only>true</http-only>
			<secure>true</secure>
		</cookie-config>
	</session-config>
    <servlet>
        <servlet-name>AutomaticHarvestingHelper</servlet-name>
        <servlet-class>eu.europa.ec.ror.servlets.AutomaticHarvestingHelper</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistryDescriptorHelper</servlet-name>
        <url-pattern>/RegistryDescriptorHelper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcedureHelper</servlet-name>
        <url-pattern>/ProcedureHelper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutomaticHarvestingHelper</servlet-name>
        <url-pattern>/AutomaticHarvestingHelper</url-pattern>
    </servlet-mapping>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <trim-directive-whitespaces>true</trim-directive-whitespaces>
        </jsp-property-group>
    </jsp-config>
    <servlet>
        <servlet-name>rest-ws</servlet-name>
        <servlet-class>
            com.sun.jersey.spi.container.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>eu.europa.ec.ror.restful</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Initializer</servlet-name>
        <servlet-class>eu.europa.ec.ror.utility.Initializer</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>JspInit</servlet-name>
        <servlet-class>eu.europa.ec.ror.web.JspInit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeLocale</servlet-name>
        <servlet-class>eu.europa.ec.ror.utility.localization.ChangeLocale</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistryDescriptorHelper</servlet-name>
        <servlet-class>eu.europa.ec.ror.servlets.RegistryDescriptorHelper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcedureHelper</servlet-name>
        <servlet-class>eu.europa.ec.ror.servlets.ProcedureHelper</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>rest-ws</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Initializer</servlet-name>
        <url-pattern>/Initializer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JspInit</servlet-name>
        <url-pattern>/JspInit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeLocale</servlet-name>
        <url-pattern>/ChangeLocale</url-pattern>
    </servlet-mapping>
    <!--ECAS authentication configs-->
    <login-config>
        <auth-method>ECAS</auth-method>
        <realm-name>RoR Realm</realm-name>
    </login-config>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>not protected content</web-resource-name>
            <url-pattern>/res/*</url-pattern>
            <url-pattern>/rest/*</url-pattern>
            <url-pattern>/ChangeLocale</url-pattern>
            <url-pattern>/login</url-pattern>
            <url-pattern>/login.jsp</url-pattern>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/detail.jsp</url-pattern>
            <url-pattern>/search.jsp</url-pattern>
            <url-pattern>/help.jsp</url-pattern>
            <url-pattern>/AutomaticHarvestingHelper</url-pattern>
        </web-resource-collection>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>inspire-register-federation</web-resource-name>
            <description>Requires users to be authenticated but does not require them to be authorized</description>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>**</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description>Encryption is not required for the application in general.</description>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <!-- Filtering access to the AutomaticHarvesting procedure -->
    <!--<filter>
        <filter-name>RemoteAddressFilter</filter-name>
        <filter-class>org.apache.catalina.filters.RemoteAddrFilter</filter-class>
        <init-param>
            <param-name>allow</param-name>
            <param-value>127\.\d+\.\d+\.\d+|::1|0:0:0:0:0:0:0:1</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>RemoteAddressFilter</filter-name>
        <url-pattern>/AutomaticHarvestingHelper</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>RemoteHostFilter</filter-name>
        <filter-class>org.apache.catalina.filters.RemoteHostFilter</filter-class>
        <init-param>
            <param-name>allow</param-name>
            <param-value>localhost</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>RemoteHostFilter</filter-name>
        <url-pattern>/AutomaticHarvestingHelper</url-pattern>
    </filter-mapping>-->
</web-app>
